.reservation {
    
    &__page {
        margin: 5px;
        h1 {
            font-family: $secondaryFont;
            font-size: 18px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.09);
            padding-bottom: 5px;
        }
        .reservation__title {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            font-family: $secondaryFont;
            font-size: 12px;
            font-weight: bold;
            p {
                padding: 5px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.09);
            }
        }
    }
}