.home {
  padding: 10px;
  .home__frontpic {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 5px;
  }
  button {
    @include loginOutBtn;
  }
  .home__grid {
    display: flex;
    justify-content: center;
  }
}
