
.login {
    width: 280px;
    margin: auto;
    padding: 25px 0 0 0;

   h1 {
        font-family: $primaryFont;
        color: $secondaryColor;
        font-weight: 700;
    }

    p {
        font-family: $secondaryFont;
        font-size: 13px;
        color: $greyColor;
        margin: 4px 0 30px 0;
    }
    .pass {
        margin-top: 17px;
    }
 
}
