.messages {
    h1{
        font-size: 17px;
        padding: 10px;
        border-bottom: 2px solid rgb(233, 233, 233);
    }
    font-family: $secondaryFont;
    font-size: 14px;
.messages__card {
    padding: 10px 15px;
    height: 70px;
    border-bottom: 3px solid #5142F5;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 75ch;
      
  }
  .messages__nametime {
     display: grid;
     grid-template-columns: 1fr 1fr;
    .date{
        color: $secondaryColor;
    }
    }
    .subject {
        color: $secondaryColor;
        font-weight: bold;
    }
    .message{
        color: $fontGrey;
    }
}

}

@media screen and (min-width: 781px){
    .messages {
        display: grid;
        grid-template-columns: 0.1fr 1fr;
        .messages__nametime {
            display: grid;
            grid-template-columns: 1fr 0.1fr;
        }
    }
}