.footer {
  margin-top: 4rem;
  padding: 1rem;
  background-color: $primaryColor;
  position: static;
  bottom: 0;
  text-align: center;
  width: 100%;
  color: white;
  font-family: $secondaryFont;
}
